:root {
    --bg-black-color: #000;
    --bg-red-color: rgb(231, 15, 15);
    --text-white-color: #fff;
    --bg-red-color-hover: rgb(202, 11, 11);
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.navbar-logo {
    color: var(--bg-black-color);
}

.navbar-menu a{
    padding: 0 15px;
    color: var(--bg-black-color);
    font-weight: 600;
}

.navbar-btn {
    background-color: var(--bg-red-color);
    padding: 7px 15px;
    color: var(--text-white-color);
    font-size: 13px;
    border: none;
}


.navbar-btn:hover,
.hero-btn button:nth-child(1):hover {
    background-color: var(--bg-red-color-hover);
}

.hero-section {
    display: flex;
    align-items: center;
    padding: 40px 0 0 0;
}

.hero-content {
    padding: 10px 30px 0 0;
    width: 60%;
}

.hero-content h1 {
    font-size: 75px;
    font-weight: bold;
}

.hero-content p {
    font-size: 17px;
}

.hero-btn {
    padding: 15px 0 25px 0;
}

.hero-btn button:nth-child(1) {
    border: none;
    padding: 10px 25px;
    background-color: red;
    color: #fff;
    border-radius: 3px;
    margin-right: 10px;
}

.hero-btn button:nth-child(2) {
    border: 1px solid #000;
    padding: 10px 25px;
    background-color: transparent;
    color: #000;
    border-radius: 3px;
    margin-right: 10px;
}

.hero-brand-logo {
    padding: 10px 0;
    width: 40%;
}
.hero-brand-logo img {
    margin-right: 20px;
}

.hero-btn button:nth-child(2):hover {
    background-color: red;
    color: #fff;
    border: none;
}


@media screen and (max-width: 986px) {

    .hero-section {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .hero-content {
        width: 100%;
    }

    .hero-content h1 {
        font-size: 65px;
        font-weight: bold;
    }

    
}

@media screen and (max-width: 600px) {

    .navbar-menu a {
        padding: 0 4px;
        font-size: 13px;
    }

    .hero-content {
        width: 100%;
    }

    .hero-content h1 {
        font-size: 50px;
        font-weight: bold;
    }

    .hero-brand-logo {
        width: 100%;
    }

    .hero-image img {
        width: 420px;
        height: 360px;
    }
    
}

@media screen and (max-width: 440px) {

    .navbar-class {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .navbar-menu {
        padding: 15px 0px;
    }

    .navbar-menu a {
        padding: 0 8px;
    }

    .hero-content {
        width: 100%;
    }

    .hero-content h1 {
        font-size: 25px;
    }
    .hero-content p {
        font-size: 13px;
    }

    .hero-brand-logo {
        width: 100%;
        
    }

    .hero-image img {
        width: 100%;
        height: 250px;
    }
 
    .hero-btn {
        display: flex;
    }
    .hero-btn button {
        font-size: 13px;
        margin: 7px 0;
    }
    .hero-btn button:nth-child(1) {
        padding: 10px 15px;
    }
    .hero-btn button:nth-child(2) {
        padding: 10px 15px;
    }
    
}